PORT=4000
SUPABASE_URL=https://mthoghfbhehwiwuxpikq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ns1-A6G2X5W-Oez_dFNuyg_wVrb22n8
WEB_ORIGIN=http://localhost:5173
AUTH_REDIRECT_URL=http://localhost:5173
DEFAULT_DELIVERY_FEE=0
